# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# IDE
.idea

# CMake build files
cmake-*
build

# Exception: Do NOT ignore the primary CMake configuration file
!CMakeLists.txt

# VSCode
.vscode

# Meson
subprojects/googletest-*/
subprojects/packagecache/


# deb build files
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/libredisdal
debian/libredisdal.debhelper.log
debian/libredisdal-dev
debian/libredisdal-dev.debhelper.log
debian/libredisdal-dev.substvars
debian/libredisdal.substvars
debian/tmp
obj-*
